
<form>
    <div class="form-group">
        <label>编号</label>
        <input type="text" [(ngModel)]="tank.name" name="tank.name" class="form-control" />
    </div>
    <div class="form-group">
        <label>左轮速度</label>
        <input type="text" [(ngModel)]="tank.lspeed" name="tank.lspeed" class="form-control" />
    </div>
    <div class="form-group">
        <label>右轮速度</label>
        <input type="text" [(ngModel)]="tank.rspeed" name="tank.rspeed" class="form-control" />
    </div>
    <div class="form-group">
        <label>In1</label>
        <input type="text" [(ngModel)]="tank.in1" name="tank.in1" class="form-control" />
        <label>In2</label>
        <input type="text" [(ngModel)]="tank.in2" name="tank.in2" class="form-control" />
        <label>En1</label>
        <input type="text" [(ngModel)]="tank.en1" name="tank.en1" class="form-control" />
    </div>
    <div class="form-group">
        <label>In3</label>
        <input type="text" [(ngModel)]="tank.in3" name="tank.in3" class="form-control" />
    </div>
    <div class="form-group">
        <label>In4</label>
        <input type="text" [(ngModel)]="tank.in4" name="tank.in4" class="form-control" />
    </div>
    <div class="form-group">
        <label>En2</label>
        <input type="text" [(ngModel)]="tank.en2" name="tank.en2" class="form-control" />
    </div>
    <div class="form-group">
        <button (click)="save()">保存</button>
    </div>
</form>