<div class="container" style="width:50%;">
    <form class="form" role="form" #f="ngForm">
        <div class="form-group">
            <label>帐号:</label>
            <input type="text" class="form-control" [(ngModel)]="account.user" name="user" required/>
        </div>
        <div class="form-group">
            <label>密码:</label>
            <input type="password" [(ngModel)]="account.password" class="form-control" name="password" required />
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-danger" (click)="login()" [disabled]="!f.valid" >登录</button>&nbsp;<a href="javascript:void(0);" [routerLink]="['/account/register']">创建账号</a>
        </div>
    </form>
</div>