<div  *ngIf="isLogin == false;" class="modal"  style="display:block;background-color:#fff;top:36px;z-index:999;" id="myModal" tabindex="-1" role="dialog">
    <div class="container" style="width:50%;">
        <div class="modal-header">
            <h3 id="myModalLabel">登录</h3>
        </div>
        <div class="modal-body">
            <form class="form"  name="form" #f="ngForm">
               
                <div class="form-group" [formGroup]="emailGroup">
                    <label>电子邮箱:</label>
                    <input type="text" name="account.user" formControlName="email" [(ngModel)]="account.user" class="form-control" placeholder="请输入邮箱" />
                    <div class="alert alert-danger" [hidden]="emailGroup.valid || emailGroup.pristine">
                        请输入正确的Email
                    </div>
                </div>
                <div  [formGroup]="repasswordGroup">
                     <div class="form-group">
                        <label>密码:</label>
                        <input type="password" [(ngModel)]="account.password" formControlName="password" class="form-control" name="password" required />
                       
                    </div>
               
                    <div class="form-group" *ngIf="mod=='register'">
                        <label>确认密码:</label>
                        <input type="password" [(ngModel)]="passwordConfirm" formControlName="passwordConfirm" class="form-control" name="passwordConfirm" required />
                        <div [hidden]="repasswordGroup.valid || repasswordGroup.pristine" class="alert alert-danger">
                            两次输入不相同
                        </div>
                    </div>
                    </div>

                    <div class="form-group"   *ngIf="mod=='register'">
                        <label>昵称:</label>
                        <input type="text" [(ngModel)]="account.nick"  #nick="ngModel" trim required minlength="3" maxlength="20" class="form-control" name="account.nick" required />
                        <div [hidden]="nick.valid || nick.pristine" class="alert alert-danger">
                            昵称必须大于3个字符且小于20个字符
                        </div>
                     </div>

                    <div class="form-group"   *ngIf="mod=='register'">
                        <label>验证码:</label>
                        <div>
                            <input type="text" [(ngModel)]="verify_code" class="form-control" name="verify_code" required />
                            <button class="btn" (click)="sendVerifyCode()" [disabled]="!emailGroup.valid || !repasswordGroup.valid || !account.nick" >发送验证码</button>
                        </div>
                    </div>
              
            </form>
        </div>
        <div class="modal-footer" style="text-align:left;">
            <p class="text-error" style="color:red;">{{error_msg}}.</p>
            <div *ngIf="mod=='login'">
                <button type="submit" class="btn btn-danger" [disabled]="!f.valid" (click)="login()">登录</button>
                &nbsp;<a href="javascript:void(0);" (click)="registerMod()">创建账号</a>
            </div>
            <div *ngIf="mod=='register'">
                <button type="submit" class="btn btn-danger" [disabled]="!f.valid" (click)="register(f)">注册</button>
                &nbsp;<a href="javascript:void(0);" (click)="loginMod()">登录</a>
            </div>
        </div>
    </div>
</div>